# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.production

# IDE files
.vscode/
.idea/

# Build outputs
**/dist/
**/build/

# Logs
**/*.log
**/npm-debug.log*

# Flutter/Dart specific
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/

# System Files
.DS_Store
Thumbs.db

# Flutter specific
**/ios/Flutter/.last_build_id
**/android/app/debug
**/android/app/profile
**/android/app/release